# Node.js
node_modules/

# Dependency directories
# https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
npm-debug.log
yarn-error.log

# Environment variables
.env

# Mac OS
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Log files
*.log

# Compiled binary addons (if applicable)
/build/
